@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;450;700&family=Bebas+Neue&family=EB+Garamond:ital@1&family=Oswald:wght@400;700&family=PT+Sans+Narrow:wght@400;700&family=Poppins:wght@400;700&family=Quicksand:wght@400;700&family=Roboto:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

section {
  padding: 100px 200px;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(assets/images/BG.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main .content {
  max-width: 800px;
}

.main .content h2 {
  color: #fff;
  font-size: 2em;
  font-weight: 500;
}

.main .content h2 span {
  font-size: 2.8em;
  font-weight: 600;
}

.animated-text {
  position: relative;
  height: 70px;
  overflow: hidden;
}

.animated-text h3 {
  color: #e0ddaa;
  font-size: 3em;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1px;
}

.animated-text h3 span {
  background-color: #fff;
}

.animated-text h3:nth-child(1) {
  animation: text-move 10s infinite;
}

@keyframes text-move {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: -70px;
  }
  50% {
    margin-top: -140px;
  }
  75% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0;
  }
}

header {
  z-index: 999;
  position: fixed;
  background: rgba(255, 255, 255, 0.1);
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
}

header.sticky {
  background: #203239;
}

header .attribute {
  color: #fff;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

header .attribute img {
  width: 125px;
  padding-top: 10px;
}

header .navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  position: relative;
}

header .navigation ul li a {
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin: 30px;
}

header .navigation ul li a:hover {
  color: #fff;
  font-weight: bold;
}

header.sticky .navigation ul li a:hover {
  font-weight: bold;
}

header .profile-links {
  text-decoration: none;
  color: #203239;
  padding: 5px 30px;
  border-radius: 20px;
  background-color: #fff;
}

header .profile-links:hover {
  font-weight: bold;
}

header.sticky .profile-links {
  color: #141e27;
  background-color: #fff;
}

header.sticky .profile-links:hover {
  font-weight: bold;
}

.menu-btn {
  display: none;
}

body {
  min-height: 110vh;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title {
  position: relative;
  color: #141e27;
  font-size: 2.2em;
  font-weight: 800;
  margin-top: 40px;
  margin-bottom: 20px;
}

.about .section-title {
  margin-top: 170px;
}

.paragraph-text {
  text-align: justify;
}

.goals .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.goals .content .col-left {
  position: relative;
  width: 45%;
}

.goals .content .col-right {
  position: relative;
  margin-bottom: 100px;
  width: 40%;
}

.goals .content .col-left .img-card {
  position: relative;
  width: 100%;
  min-height: 450px;
  border-radius: 20px;
  overflow: hidden;
}

.goals .content .col-left .img-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 1s ease;
}

.goals .content .col-left .img-card img:hover {
  transform: scale(1.2);
}

.goals .content .col-right .content-title {
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  margin: 25px 0;
  color: #203239;
}

.goals .content .col-right .paragraph-text {
  text-align: justify;
  font-size: 1em;
}

.brands .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}

.title p {
  font-size: 1em;
  width: 80%;
}

.brands {
  background: #203239;
}

.brands p {
  color: #fff;
  text-align: justify;
}

.brands .content .card {
  background: #fff;
  /* width: 300px; */
  margin: 8px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
}

.brands .content .card .brands-icon img {
  display: flex;
}

.brands .content .card:hover .brands-icon {
  transform: translateY(-8px);
  transition: 0.5s ease;
}

.brands .section-title {
  color: #fff;
}

.product {
  background: #fff;
}

.product .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.product .content .card {
  width: 250px;
  border-radius: 10px;
  margin: 15px;
}

.product .content .card .card-img {
  position: relative;
  width: 100%;
  height: 160px;
  overflow: hidden;
  border-radius: 20px;
}

.product .content .card .card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 00.5s ease;
}

.product .content .card .card-img img:hover {
  transform: translateY(-8px);
  transition: 0.5s ease;
}

.contact {
  background: #203239;
}

.contact .section-title {
  color: #fff;
}

.contact .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
}

.contact .content .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.contact .content .row .card {
  background: #fff;
  width: 250px;
  margin: 20px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
}

.contact .content .row .card .contact-icon {
  color: #203239;
  font-size: 4em;
  text-align: center;
  transition: transform 0.5s ease;
}

.contact .content .row .card .contact-icon a {
  color: #203239;
}

.contact .content .row .card:hover .contact-icon {
  transform: translateY(-10px);
}

.contact .content .row .card .info {
  text-align: center;
}

.contact .content .row .card .info a {
  text-decoration: none;
  color: #000;
}

.contact .content .row .card .info a:hover {
  color: #203239;
  font-weight: bold;
}

.contact .content .row .card .info h3 {
  color: #203239;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.contact-form {
  background: #fff;
  max-width: 600px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 25px (rgba(1 1, 1, 15%));
}

.contact-form h3 {
  color: #111;
  font-size: 1.63m;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  color: #111;
  padding: 10px;
  font-size: 1em;
  font-weight: 400;
  outline: none;
  border-radius: 5px;
  resize: none;
}

.contact-form .input-box .send-btn {
  color: #fff;
  background: inline-block;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  border: none;
  cursor: pointer;
}

aside .container {
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 20px 0; */
}

aside .card-profile {
  position: relative;
  background: #203239;
  display: flex;
  align-items: center;
  padding: 50px;
  width: 900px;
  border-radius: 10px;
  margin: 20px 0;
}

.profile-img {
  width: 150px;
  border-radius: 20px;
  border: 18px solid #fff;
}

.info-profile {
  margin-left: 30px;
  font-weight: 500;
  color: #fff;
}

.info-profile h1 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: 10px;
}

.info-profile p {
  margin-left: 10px;
}

.info-profile ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0 30px;
}

.info-profile ul li {
  list-style: none;
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.info-profile ul li a {
  text-decoration: none;
  color: #fff;
}

.info-profile ul li i {
  width: 20px;
  margin-right: 5px;
}

.links {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.links a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  height: 50px;
  background: #fff;
  color: #203239;
  border-radius: 5px;
  border: 2px solid #eeedde;
  padding: 10px 30px;
  font-size: 12px;
}

.links a:hover {
  color: #fff;
  background-color: #000;
  font-weight: bold;
}

.links a i {
  width: 25px;
}

.share-icon {
  position: absolute;
  top: 20px;
  right: 25px;
  padding: 10px;
  cursor: pointer;
}

footer {
  width: 100%;
  bottom: 0;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #203239 0%, #141e27 74%);
  color: white;
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;
}

.footrow {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

form .fa-solid {
  font-size: 18px;
  margin-right: 10px;
}

form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

form button .fa-solid {
  font-size: 16px;
  color: #ccc;
}

.wrapper a {
  color: #fff;
}

.hover-fx {
  font-size: 20px;
  display: inline-block;
  cursor: pointer;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  color: #fff;
  background-color: rgba(255, 255, 2555, 0.1);
  transition: 300ms;
}

.hover-fx::after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  box-sizing: content-box;
  box-shadow: 0 0 0 3px #fff;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 300ms;
}

.hover-fx:hover {
  background-color: #fff;
  color: #151515;
}

.hover-fx:hover::after {
  opacity: 1;
  transform: scale(1.15);
}

.footcol {
  flex-basis: 25%;
  padding: 30px 10px;
}

.footcol:nth-child(2),
.footcol:nth-child(3) {
  flex-basis: 15%;
}

.footcol ul li {
  list-style: none;
  margin-top: 12px;
}

.footcol ul li a {
  text-decoration: none;
  color: white;
}

.footcol h3 {
  color: white;
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

.email-id a {
  color: #fff;
  text-decoration: none;
}

.footlogo {
  width: 120px;
  margin-bottom: 30px;
}

hr {
  width: 90%;
  border-bottom: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright {
  text-align: center;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

.scrollToTop-btn {
  z-index: 999;
  position: fixed;
  background: black;
  color: #fff;
  width: 45px;
  height: 45px;
  bottom: 25px;
  right: 10px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease;
}

.scrollToTop-btn:hover.active {
  opacity: 100%;
}

.scrollToTop-btn.active {
  right: 20px;
  opacity: 25%;
  pointer-events: auto;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@media (max-width: 1000px) {
  header {
    padding: 12px 20px;
  }

  header .profile-links {
    display: none;
  }

  header.sticky {
    padding: 10px 20px;
  }

  header.sticky .profile-links {
    display: none;
  }

  header .attribute img {
    width: 100px;
  }

  header .navigation {
    display: none;
  }

  header .navigation ul {
    flex-direction: column;
    /* background-color: aqua; */
    right: 80px;
    margin-top: 100px;
  }

  header .navigation.active {
    z-index: 888;
    position: fixed;
    background: #fff;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    transition: 0.3s ease;
  }

  header .navigation ul li {
    color: #fff;
    font-weight: 500;
    font-size: 1.2em;
    margin: 35px 115px;
    padding: 0 20px;
    border-radius: 20px;
  }

  header .navigation ul li a {
    justify-content: center;
    color: #203239;
    margin-left: 0;
    align-items: center;
  }

  header .navigation ul li a::before {
    content: "";
    position: absolute;
    margin-top: 40px;
    height: 4px;
    width: 100px;
    background: #203239;
    transform: translateX(130px);
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  }

  header .navigation ul li a:hover::before {
    transform: translateX(0px);
    opacity: 1;
    width: 80px;
  }

  header .navigation ul li a:hover {
    color: #203239;
    font-weight: bold;
    transition: 0.3s ease;
  }

  .menu-btn {
    width: 40px;
    height: 40px;
    right: 0;
    margin: 0 20px;
    display: inline;
    position: absolute;
    background: url(/assets/icon/menu-white.png) no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active {
    transition: 0.3s ease;
    background: url(assets/icon/close.png) no-repeat;
    background-size: 25px;
    background-position: center;
    z-index: 999;
    filter: invert(1);
  }

  section {
    padding: 80px 100px;
  }

  .main .content h2 {
    font-size: 1em;
  }

  .animated-text H3 {
    font-size: 2.2em;
  }

  .section-title {
    font-size: 1.8em;
  }

  .goals .content {
    flex-direction: column;
  }

  .goals .content .column {
    position: relative;
    width: 100%;
  }

  .goals .content .col-right {
    margin-top: 40px;
  }

  .brands .content .card .brands-icon img {
    width: 60px;
  }

  aside .card-profile {
    padding: 30px;
    width: 100%;
  }

  .info-profile {
    color: #fff;
  }

  .info-profile h1 {
    font-weight: bold;
  }

  .info-profile ul li a {
    color: #fff;
  }

  .info-profile ul li a:hover {
    font-weight: bold;
  }

  @media screen and (max-width: 825px) {
    header .navigation.active {
      width: 80%;
    }

    section {
      padding: 60px;
    }
    .goals .links {
      display: flex;
      flex-direction: column;
    }

    .links a {
      margin: 10px 0;
    }

    .goals .content {
      margin-top: 0;
    }

    .goals .section-title {
      margin-top: 20px;
    }

    .goals .col-right {
      position: absolute;
    }

    .goals .content .col-right .content-title {
      margin: 5px 0;
    }

    .goals .col-left {
      position: absolute;
      display: none;
    }

    .paragraph-text {
      font-size: 14px;
    }

    .brands p {
      font-size: 14px;
    }

    aside .card-profile {
      background: #fff;
      padding: 30px;
      width: 100%;
      height: auto;
      flex-direction: column;
    }

    aside .card-profile {
      margin: 0;
    }

    .info-profile {
      margin-top: 20px;
      margin-left: 0px;
      text-align: center;
      color: #203239;
    }

    .info-profile ul {
      align-items: center;
      margin: 10px 0 30px;
    }

    .info-profile ul li {
      display: flex;
      flex-direction: column;
      margin-right: 0px;
      margin: 15px 0;
    }

    .info-profile ul li a {
      color: #203239;
    }

    .info-profile ul li i {
      width: 20px;
      margin-right: 5px;
    }

    .links a {
      padding: 10px 60px;
      margin: 0 65px;
    }

    footer {
      bottom: unset;
    }

    .footcol {
      flex-basis: 100%;
    }

    .footcol:nth-child(2),
    .footcol:nth-child(3) {
      flex-basis: 100%;
    }
  }
}
